[project]
	description = A sample application on AngularJS made as a starting point for test and automation exercises.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sayor Basu (sayorbasu)
[access "refs/for/refs/*"]
	read = group user/Sayor Basu (sayorbasu)
	push = group user/Sayor Basu (sayorbasu)
	label-Code-Review = -2..+2 group user/Sayor Basu (sayorbasu)
	label-Verified = -1..+1 group user/Sayor Basu (sayorbasu)
	rebase = group user/Sayor Basu (sayorbasu)
	removeReviewer = group user/Sayor Basu (sayorbasu)
	submit = group user/Sayor Basu (sayorbasu)
[access "refs/heads/*"]
	read = group user/Sayor Basu (sayorbasu)
	create = group user/Sayor Basu (sayorbasu)
	push = +force group user/Sayor Basu (sayorbasu)
	pushMerge = group user/Sayor Basu (sayorbasu)
[access "refs/tags/*"]
	push = +force group user/Sayor Basu (sayorbasu)
	pushTag = group user/Sayor Basu (sayorbasu)
	pushSignedTag = group user/Sayor Basu (sayorbasu)
